<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="backEnd.general.KeySequenceServiceTest"/>
      <class name="backEnd.general.owners.OwnerRepositoryTest"/>
      <class name="backEnd.general.owners.OwnerValidateTest"/>
      <class name="backEnd.general.owners.OwnerServiceTest"/>
      <class name="backEnd.general.regions.RegionRepositoryTest"/>
      <class name="backEnd.general.regions.RegionValidateTest"/>
      <class name="backEnd.general.regions.RegionServiceTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
