<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--suite name="Suite" parallel="none"-->
<suite name="Suite">
    <test name="NotDBDependent">
        <classes>
            <class name="backEnd.general.statistics.CarLevelStatisticTest"/>
        </classes>
    </test>
    <test name="KeySequence">
        <classes>
            <class name="backEnd.general.KeySequenceServiceTest"/>
        </classes>
    </test>
    <test name="OwnerRepository">
        <classes>
            <class name="backEnd.general.owners.OwnerRepositoryTest"/>
        </classes>
    </test>
    <test name="RegionRepository">
        <classes>
            <class name="backEnd.general.regions.RegionRepositoryTest"/>
        </classes>
    </test>
    <test name="CountryRepository">
        <classes>
            <class name="backEnd.general.countries.CountryRepositoryTest"/>
        </classes>
    </test>
    <test name="DealerRepository">
        <classes>
            <class name="backEnd.general.dealers.DealerRepositoryTest"/>
        </classes>
    </test>
    <test name="CarRepository">
        <classes>
            <class name="backEnd.general.cars.CarRepositoryTest"/>
        </classes>
    </test>
    <test name="CarRepositorySearch">
        <classes>
            <class name="backEnd.general.cars.CarRepositorySearchTest"/>
        </classes>
    </test>
    <test name="OwnerCarRepository">
        <classes>
            <class name="backEnd.general.ownerCars.OwnerCarRepositoryTest"/>
        </classes>
    </test>
    <test name="OwnerValidate">
        <classes>
            <class name="backEnd.general.owners.OwnerValidateTest"/>
        </classes>
    </test>
    <test name="OwnerService">
        <classes>
            <class name="backEnd.general.owners.OwnerServiceTest"/>
        </classes>
    </test>
    <test name="RegionValidate">
        <classes>
            <class name="backEnd.general.regions.RegionValidateTest"/>
        </classes>
    </test>
    <test name="RegionService">
        <classes>
            <class name="backEnd.general.regions.RegionServiceTest"/>
        </classes>
    </test>
    <test name="CountryValidate">
        <classes>
            <class name="backEnd.general.countries.CountryValidateTest"/>
        </classes>
    </test>
    <test name="CountryService">
        <classes>
            <class name="backEnd.general.countries.CountryServiceTest"/>
        </classes>
    </test>
    <test name="DealerValidate">
        <classes>
            <class name="backEnd.general.dealers.DealerValidateTest"/>
        </classes>
    </test>
    <test name="DealerService">
        <classes>
            <class name="backEnd.general.dealers.DealerServiceTest"/>
        </classes>
    </test>
    <test name="CarValidate">
        <classes>
            <class name="backEnd.general.cars.CarValidateTest"/>
        </classes>
    </test> 
    <test name="CarService">
        <classes>
            <class name="backEnd.general.cars.CarServiceTest"/>
        </classes>
    </test> 
    <test name="StatisticsService">
        <classes>
            <class name="backEnd.general.statistics.StatisticsServiceTest"/>
        </classes>
    </test>    
</suite> <!-- Suite -->
